* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Baloo 2", cursive;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

:root {
  --color-darkgray: #1b1c22;
  --color-black: #131315;
  --color-blue: #315cf7;
  --color-white: #f7f7f7;
  --color-gray: #25262c;
  --color-lightgray: #5e5f62;
}

body {
  background-color: var(--color-darkgray);
  overflow: hidden;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: var(--color-lightgray);
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

button:hover {
  color: var(--color-white);
}
